.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #1e1e1e; /* Color oscuro para el encabezado */
    color: white;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navigation li {
    margin: 0 15px;
}

.navigation a {
    color: white;
    text-decoration: none;
}

.navigation a:hover {
    text-decoration: underline; /* Efecto hover */
}

.search {
    display: flex;
}

.search input {
    padding: 5px;
    margin-right: 5px;
}

.user-profile {
    margin-left: 20px;
}

/* Estilos para el formulario */
form {
    background-color: #ecf0f1; /* Color claro para el fondo del formulario */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

form div {
    margin-bottom: 15px; /* Espaciado entre los campos */
}

form label {
    display: block; /* Para asegurarte de que las etiquetas ocupen todo el ancho */
    margin-bottom: 5px; /* Espaciado entre la etiqueta y el campo */
}

form input {
    width: 100%; /* Hacer que los campos ocupen todo el ancho */
    padding: 10px; /* Espaciado interno en los campos */
    border: 1px solid #bdc3c7; /* Bordes sutiles */
    border-radius: 4px; /* Bordes redondeados */
}

form button {
    background-color: #3498db; /* Color del botón */
    color: white; /* Color del texto */
    padding: 10px 15px; /* Espaciado interno */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambiar el cursor al pasar el ratón */
}

form button:hover {
    background-color: #2980b9; /* Color más oscuro al pasar el ratón */
}
