<div class="container">
  <header>
    <h1>Productos</h1>
    <button class="create-button" (click)="toggleProductFormVisibility()">Crear Nuevo</button>
  </header>
  <main>
    <div class="form-container" *ngIf="showProductForm">
      <h2 class="form-title">{{ isEditing ? 'Editar Producto' : 'Crear Producto' }}</h2>
      <form [formGroup]="productForm" (ngSubmit)="saveProduct()">
        <div>
          <label for="name">Nombre:</label>
          <input id="name" formControlName="name" type="text" class="form-input" />
        </div>
        <div>
          <label for="price">Precio:</label>
          <input id="price" formControlName="price" type="number" class="form-input" />
        </div>
        <div>
          <label for="stock">Stock:</label>
          <input id="stock" formControlName="stock" type="number" class="form-input" />
        </div>
        <div>
          <button type="submit" class="save-button">{{ isEditing ? 'Editar Producto' : 'Guardar Producto' }}</button>
          <button type="button" class="cancel-button" (click)="showProductForm = false">Cancelar</button>
        </div>
      </form>
    </div>
    <h2 class="list-title">Lista de Productos</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Precio</th>
          <th>Stock</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products">
          <td>{{product.name}}</td>
          <td>{{product.price | currency}}</td>
          <td>{{product.stock}}</td>
          <td>
            <button (click)="editar(product)" class="editar-button">Editar</button>
            <button (click)="deleteProduct(product.id)" class="delete-button">Borrar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </main>
</div>