<header>
  <h1>Órdenes</h1>
  <button class="create-button" (click)="toggleOrderFormVisibility()">Crear Nueva</button>
</header>
<main>
  <div class="form-container" *ngIf="showOrderForm">
    <h2 class="form-title">Crear Orden</h2>
    <form [formGroup]="orderForm" (ngSubmit)="saveOrder()">
      <input type="hidden" formControlName="id">
      <div>
        <label for="customerId">Cliente:</label>
        <select id="customerId" formControlName="customer" class="form-select">
          <option *ngFor="let customer of customers" [ngValue]="customer.id">{{ customer.name }}</option>
        </select>
      </div>
      <div>
        <label for="productId">Producto:</label>
        <select id="productId" formControlName="productId" class="form-select">
          <option *ngFor="let product of products" [ngValue]="product.id">{{ product.name }}</option>
        </select>
      </div>
      <div>
        <label for="quantity">Cantidad:</label>
        <input type="number" id="quantity" formControlName="quantity" min="1" class="form-input" />
      </div>
      <div>
        <label for="status">Estado:</label>
        <select id="status" formControlName="status" class="form-select">
          <option *ngFor="let status of orderStatuses" [ngValue]="status">{{ status }}</option>
        </select>
      </div>
      <button type="submit" class="save-button">Guardar Orden</button>
      <button type="button" class="cancel-button" (click)="showOrderForm = false">Cancelar</button>
    </form>
  </div>
  <h2 class="list-title">Lista de Órdenes</h2>
  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th>Nombre del Cliente</th>
        <th>Estado</th>
        <th>Total</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of filteredOrders">
        <td>
          <ul>
            <li class="view-link" (click)="openOrderDetails(order)">View</li>
          </ul>
        </td>
        <td>{{ order.customer }}</td>
        <td>{{ order.status }}</td>
        <td>{{ order.totalPrice }}</td>
        <td>
          <button (click)="deleteOrder(order.id)" class="delete-button">Borrar</button>
        </td>
        <td>
          <button (click)="editar(order)" class="editar-button">Editar</button>
        </td>
      </tr>
    </tbody>
  </table>
</main>