:host {
    display: block;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    margin: 0;
    color: #333;
}

.create-button {
    background-color: #000; /* Botón negro */
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.create-button:hover {
    background-color: #333; /* Oscurece al pasar el mouse */
}

.form-container {
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 20px 0;
    border-radius: 20px;
}

.form-select, .form-input {
    width: 100%; /* Ancho completo */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
    background-color: #fff; /* Fondo blanco */
}

button {
    background-color: #000; /* Botones en negro */
    color: white; /* Texto blanco */
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #333; /* Oscurece al pasar el mouse */
}

.search-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
    background-color: #f9f9f9;
}

table {
    border-collapse: collapse;
    width: 100%; /* Ancho completo */
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
    color: #333;
    font-weight: bold;
}

td {
    color: black;
}

ul {
    list-style-type: none; /* Elimina el estilo de lista predeterminado */
    padding: 0; /* Elimina el padding */
    margin: 0; /* Elimina el margen */
}

.view-link {
    cursor: pointer;
    color: #555555; /* Color gris medio oscuro */
    text-decoration: underline; /* Subrayado para dar un efecto de enlace */
}

.view-link:hover {
    color: #333333; /* Color más oscuro al pasar el mouse */
}

.pagination {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.pagination a {
    color: #007bff;
    text-decoration: none;
    padding: 10px;
}

.pagination a:hover {
    text-decoration: underline;
}

/* Estilos para el modal */
.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed; /* Fijo para cubrir toda la pantalla */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    z-index: 1000; /* Asegura que esté encima de otros elementos */
}

.modal-content {
    background-color: white; /* Fondo blanco */
    color: black; /* Texto negro */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.close {
    color: black; /* Color del botón de cerrar */
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: red; /* Color al pasar el mouse o al enfocar */
    text-decoration: none;
    cursor: pointer;
}
