:host {
    display: block;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    margin: 0;
    color: #333;
  }
  
  .create-button {
    background-color: #000; /* Botón negro */
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .create-button:hover {
    background-color: #333; /* Oscurece al pasar el mouse */
  }
  
  .form-container {
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 20px 0;
    border-radius: 20px;
  }
  
  .form-title, .list-title {
    color: #000; /* Texto en negro */
  }
  
  .form-input {
    width: 100%; /* Ancho completo */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
    background-color: #fff; /* Fondo blanco */
  }
  
  button {
    background-color: #000; /* Botones en negro */
    color: white; /* Texto blanco */
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #333; /* Oscurece al pasar el mouse */
  }
  
  .table {
    border-collapse: collapse;
    width: 100%; /* Ancho completo */
  }
  
  th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
    color: #333;
    font-weight: bold;
  }
  
  td {
    color: black;
  }
  
  .editar-button, .delete-button {
    margin-right: 5px;
  }
  
  .save-button {
    margin-top: 15px; /* Espacio entre el botón y los elementos de entrada */
  }

  label {
    color: #000; /* Color del texto de las etiquetas en negro */
    display: block; /* Asegura que el label ocupe toda la línea */
    margin-bottom: 5px; /* Espacio entre el label y el input */
  }
  
  .form-container div {
    margin-bottom: 15px; /* Espacio entre los elementos de entrada */
  }
  